*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  background-color: #0e1111; }

.header {
  height: 70vh;
  background-image: url("../images/guitarist.jpg");
  background-size: cover;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  .header__image {
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
    margin-left: 3rem;
    cursor: pointer; }
  .header__label {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__welcome {
    color: #fff;
    font-size: 7rem;
    display: block;
    margin-bottom: 10rem; }
  .header__button-enter {
    font-family: Lato, sans-serif;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 25rem;
    height: 10rem;
    color: #333;
    padding: 1rem 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    position: relative; }
    .header__button-enter:hover {
      transform: translateY(-0.3rem); }
      .header__button-enter:hover::after {
        transform: scaleX(1.2) scaleY(1.3);
        opacity: 0; }
    .header__button-enter:active {
      transform: translateY(0.3rem); }
    .header__button-enter::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.2s; }

.nav {
  position: fixed;
  display: flex;
  top: 8rem;
  right: 8rem;
  height: 3rem;
  width: auto;
  justify-content: center;
  align-items: center; }
  .nav:hover .nav__icon, .nav:hover .nav__icon::before, .nav:hover .nav__icon::after {
    background-color: #fff; }
  .nav:hover .nav__icon::before {
    top: -1.2rem; }
  .nav:hover .nav__icon::after {
    top: 1.2rem; }
  .nav__icon {
    position: relative;
    top: 1rem;
    z-index: 2; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 4rem;
      height: 0.5rem;
      background-color: rgba(255, 255, 255, 0.8);
      display: block;
      transition: all 0.2s; }
    .nav__icon::before, .nav__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav__icon::before {
      top: -1rem; }
    .nav__icon::after {
      top: 1rem; }
  .nav__checkbox-label {
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .nav__checkbox {
    display: none; }
  .nav__checkbox:checked + .nav__checkbox-label .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__checkbox-label .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__checkbox-label .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__checkbox:checked ~ .nav__background {
    transform: translateY(0); }
  .nav__background {
    width: 100vw;
    height: 100vh;
    background-color: #0e1111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-100vh);
    transition: all 1s cubic-bezier(0.27, 1.28, 0.67, -0.21); }
  .nav__menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.8); }
  .nav__menu-list {
    list-style: none;
    text-align: center; }
  .nav__menu-link {
    text-decoration: none;
    line-height: 7rem;
    color: inherit;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.2s;
    padding: 1rem; }
    .nav__menu-link:hover {
      color: #0e1111;
      background-color: #fff; }
