*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1400px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 43.75%; } }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: Lato, sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6;
  background-color: #0e1111; }

.header {
  height: 70vh;
  background-image: url("../images/guitarist.jpg");
  background-size: cover;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8); }
  .header__image {
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
    margin-left: 3rem;
    cursor: pointer; }
  .header__label {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__welcome {
    color: #fff;
    font-size: 7rem;
    display: block;
    margin-bottom: 10rem; }
  .header__button-enter {
    font-family: Lato, sans-serif;
    border: none;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 25rem;
    height: 10rem;
    color: #333;
    padding: 1rem 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    position: relative; }
    .header__button-enter:hover {
      transform: translateY(-0.3rem); }
      .header__button-enter:hover::after {
        transform: scaleX(1.2) scaleY(1.3);
        opacity: 0; }
    .header__button-enter:active {
      transform: translateY(0.3rem); }
    .header__button-enter::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.2s; }

.nav {
  position: fixed;
  display: flex;
  top: 8rem;
  right: 8rem;
  height: 3rem;
  width: auto;
  justify-content: center;
  align-items: center; }
  .nav:hover .nav__icon, .nav:hover .nav__icon::before, .nav:hover .nav__icon::after {
    background-color: #fff; }
  .nav:hover .nav__icon::before {
    top: -1.2rem; }
  .nav:hover .nav__icon::after {
    top: 1.2rem; }
  .nav__icon {
    position: relative;
    top: 1rem;
    z-index: 2; }
    .nav__icon, .nav__icon::before, .nav__icon::after {
      width: 4rem;
      height: 0.5rem;
      background-color: rgba(255, 255, 255, 0.8);
      display: block;
      transition: all 0.2s; }
    .nav__icon::before, .nav__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .nav__icon::before {
      top: -1rem; }
    .nav__icon::after {
      top: 1rem; }
  .nav__checkbox-label {
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .nav__checkbox {
    display: none; }
  .nav__checkbox:checked + .nav__checkbox-label .nav__icon {
    background-color: transparent; }
  .nav__checkbox:checked + .nav__checkbox-label .nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav__checkbox:checked + .nav__checkbox-label .nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav__checkbox:checked ~ .nav__background {
    transform: translateY(0); }
  .nav__background {
    width: 100vw;
    height: 100vh;
    background-color: #0e1111;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-100vh);
    transition: all 1s cubic-bezier(0.27, 1.28, 0.67, -0.21); }
  .nav__menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.8); }
  .nav__menu-list {
    list-style: none;
    text-align: center; }
  .nav__menu-link {
    text-decoration: none;
    line-height: 7rem;
    color: inherit;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.2s;
    padding: 1rem; }
    .nav__menu-link:hover {
      color: #0e1111;
      background-color: #fff; }

.card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 5rem; }
  .card__item {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 25rem;
    background-color: plum;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s all; }
    .card__item--1 {
      background-color: #414a4c; }
    .card__item--2 {
      background-color: #3b444b; }
    .card__item--3 {
      background-color: #353839; }
    .card__item--4 {
      background-color: #232b2b; }
    .card__item:hover {
      transform: scale(1.1) translateY(-5px);
      background-color: #fff;
      color: #0e1111; }
  .card__header {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 3rem; }
  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-top: 3rem;
    text-align: right; }
  .card__icon {
    font-size: 10rem;
    margin-right: 1rem; }

.products {
  width: 100%;
  height: 50rem;
  margin: 10rem 0;
  display: flex;
  justify-content: center; }
  .products__container {
    width: 75%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    border: 0.3rem solid rgba(255, 255, 255, 0.8); }
  .products__image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .products__product {
    cursor: pointer;
    position: relative; }
    .products__product:hover > img {
      filter: blur(0.3rem) grayscale(100%); }
    .products__product:hover::after {
      opacity: 1;
      transform: translateY(0); }
    .products__product::after {
      content: 'CHECK!';
      width: 100%;
      height: 100%;
      font-size: 3rem;
      position: absolute;
      top: 3rem;
      text-align: center;
      color: #fff;
      opacity: 0;
      transition: all 0.2s;
      transform: translateY(-3rem); }
    .products__product--1 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2; }
    .products__product--2 {
      grid-row: 1 / span 4;
      grid-column: 3; }
    .products__product--3 {
      grid-row: 1 / span 3;
      grid-column: 4 / span 2; }
    .products__product--4 {
      grid-row: 1 / span 3;
      grid-column: 6 / span 4; }
    .products__product--5 {
      grid-row: 1 / span 3;
      grid-column: 9 / span 2; }
    .products__product--6 {
      grid-row: 1 / span 4;
      grid-column: 11 / span 2; }
    .products__product--7 {
      grid-row: 5 / span 2;
      grid-column: 1 / span 3; }
    .products__product--8 {
      grid-row: 3 / span 2;
      grid-column: 1 / span 2; }
    .products__product--9 {
      grid-row: 4 / -1;
      grid-column: 4 / span 7; }
    .products__product--10 {
      grid-row: 5 / -1;
      grid-column: 11 / -1; }

.footer {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  background-color: #232b2b;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  padding: 2rem 0; }
  .footer :not(:last-child) {
    margin-right: 3rem; }
  .footer__item {
    position: relative;
    cursor: pointer;
    transition: all 0.2s; }
    .footer__item:hover {
      transform: translateY(-0.3rem);
      color: #fff; }
      .footer__item:hover::after {
        width: 100%;
        left: 0; }
    .footer__item::after {
      position: absolute;
      content: '';
      display: flex;
      height: 0.3rem;
      width: 0;
      background-color: #fff;
      left: 50%;
      transition: all 0.2s; }
