.card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2rem;
  color: $color-white-transparent;
  margin-top: 5rem;

  &__item {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 25rem;
    background-color: plum;
    border-radius: $button-border-radius;
    cursor: pointer;

    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
    &--4 {
    }
  }
}
